body {
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.3); }

.whatsapp {
  background-color: #2e6329;
  border: 2px solid #fff;
  position: fixed;
  z-index: 999;
  border-radius: 50%;
  bottom: 20px;
  right: 15px;
  padding: 12px;
  transition: ease 0.3s;
  animation-name: efecto;
  animation-duration: 1.2s;
  animation-play-state: paused;
  animation-iteration-count: infinite; }
  .whatsapp:hover {
    transform: scale(1.1);
    transition: 0.3s;
    animation-play-state: running; }
  .whatsapp__icon {
    width: 60px; }

@keyframes efecto {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85); }
  100% {
    box-shadow: 0 0 0 12px rgba(0, 0, 0, 0); } }
