body {
    margin: 0;
    padding: 0;
}

.container {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-size: cover;
    background-position: 40% 60%;
    background-image: url('../img/james-garman.jpg');
}

@media screen and (min-width: 640px) {
    .container {
        background-position: 25% 75%;
        // background-position: right bottom;
    }
}

